<head>
  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


</head>
<body>
    <h1 class="text-center">CREDIT MANAGEMENT</h1>
    <div class="jumbotron">
    <h3>CLICK HERE TO GET LIST OF ALL USERS</h3><br><br>
      <p class="lead">
          <a class="btn btn-primary btn-lg" href="add" role="button">VIEW ALL USER</a>
        </p>
      </div>
    
</body>
